
@{
    ViewBag.Title = "Currency";
}

<h2>Currency Exchange Chart</h2>

<div>
    <input type="button" onclick="FetchCurrencyExchangeRates()" value="Fetch Currency Exchange Rate For AUD" class="btn btn-primary" />
</div>
<br />
<div id="dvCurrencyExchangeRateGrid">
</div>

<script type="text/javascript">
    function FetchCurrencyExchangeRates() {
        $.ajax({
            url: "/Currency/GetExchangeRates",
            success: function (result) {
                if (result) {
                    $("#dvCurrencyExchangeRateGrid").html(result);
                }
            },
            error: function () {
            }
        });
    };
</script>
