
@{
    ViewBag.Title = "Currency";
}

<h2>Currency Exchange Chart</h2>


<div>
    <input type="button" onclick="FetchCurrencyExchangeRates()" value="Fetch Currency Exchange Rate For AUD" class="btn btn-primary" />
</div>

<div id="dvCurrencyExchangeRateGrid">
    <h2>No Data Found</h2>
</div>



<link rel="stylesheet" type="text/css" href="~/Content/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/buttons.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/dataTables.dateTime.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/responsive.dataTables.min.css"  />

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/datatables.min.js" defer></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/dataTables.buttons.min.js" defer></script>
<script type="text/javascript" src="~/Scripts/buttons.colVis.min.js" defer></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/buttons.html5.min.js" defer></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/dataTables.dateTime.min.js" defer></script>
<script type="text/javascript" charset="utf8" src="~/Scripts/dataTables.responsive.min.js" defer></script>

<script type="text/javascript">
    function FetchCurrencyExchangeRates() {
        $.ajax({
            url: "/Currency/GetExchangeRates",
            success: function (result) {
                alert(result);
                if (result) {
                    $("#dvCurrencyExchangeRateGrid").html(result);
                }
                debugger;
                var test = result;
                //$("#mainPageContainer").html(result);
            },
            error: function () {
            }
        });
    };
</script>
